.card {
  width: 276px;
  height: 424px;

  background: #ffffff;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  overflow: hidden; /* чтобы ничего не вылезало */
  padding: 0;
}

/* Картинка */
.imageWrapper {
  width: 276px;
  height: 268px;
  position: relative;

  border-radius: 14px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

/* Контент */
.info {
  padding: 16px 12px; /* Figma обычно так */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
}

.price {
  font-size: 14px;
  font-weight: 600;
  color: #0b44cd;
}

.link {
  margin-top: auto;
  display: inline-block;
  padding: 8px 16px;

  background: #3470ff;
  color: #ffffff;

  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
