.wrapper {
  display: flex;
  gap: 48px;
}

.left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.right {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #101828;
}

.price {
  font-size: 24px;
  font-weight: 700;
  color: #3470ff;
}

.description {
  font-size: 16px;
  color: #475467;
}

.block h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.block ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
