.hero {
  position: relative;
  width: 100%;
  height: 1400px; /* как в макете */
  overflow: hidden;
}

/* Бэкграунд-картинка */
.image {
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

/* Контейнер из Figma (783 × 204 Hug) */
.content {
  position: absolute;
  left: 50%;
  bottom: 60px; /* расстояние от низа баннера */
  transform: translateX(-50%);

  width: 783px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px; /* расстояние между title и subtitle */

  z-index: 2;
  text-align: center;
}

/* Title */
.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;

  /* line-height: 72px; */
  line-height: 120%;
  text-align: center;
  color: #fff;
}

/* Subtitle */
.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 133%;
  text-align: center;
  color: #fff;
}

/* Кнопка */
.button {
  margin-top: 40px; /* расстояние от subtitle до кнопки */
  background: #3470ff;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 220px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}
